In [ ]:
FILLNA DROPNA INTERPOLATE

In [4]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [5]:
new_df = df.fillna(6)
new_df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          6.0        9.0   Sunny
2   1/5/2017         28.0        6.0    Snow
3   1/6/2017          6.0        7.0       6
4   1/7/2017         32.0        6.0    Rain
5   1/8/2017          6.0        6.0   Sunny
6   1/9/2017          6.0        6.0       6
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [8]:
new_df = df.fillna(method="ffill")
new_df

C:\Users\Priya P\AppData\Local\Temp\ipykernel_22068\2534372125.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df = df.fillna(method="ffill")

         day  temperature  windspeed   event
0   1/1/2017        32.00        6.0    Rain
1   1/4/2017        33.22        9.0   Sunny
2   1/5/2017        28.00        9.0    Snow
3   1/6/2017        33.22        7.0    Snow
4   1/7/2017        32.00        7.0    Rain
5   1/8/2017        33.22        7.0   Sunny
6   1/9/2017        33.22        7.0   Sunny
7  1/10/2017        34.10        8.1  Cloudy
8  1/11/2017        40.00       12.0   Sunny

In [12]:
new_df = df.fillna(method="ffill",limit=1)
new_df

C:\Users\Priya P\AppData\Local\Temp\ipykernel_22068\2057544078.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df = df.fillna(method="ffill",limit=1)

         day  temperature  windspeed   event
0   1/1/2017        32.00        6.0    Rain
1   1/4/2017        33.22        9.0   Sunny
2   1/5/2017        28.00        9.0    Snow
3   1/6/2017        33.22        7.0    Snow
4   1/7/2017        32.00        7.0    Rain
5   1/8/2017        33.22        NaN   Sunny
6   1/9/2017        33.22        NaN   Sunny
7  1/10/2017        34.10        8.1  Cloudy
8  1/11/2017        40.00       12.0   Sunny

In [11]:
new_df = df.interpolate()
new_df

C:\Users\Priya P\AppData\Local\Temp\ipykernel_22068\812076388.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df = df.interpolate()

         day  temperature  windspeed   event
0   1/1/2017        32.00      6.000    Rain
1   1/4/2017        33.22      9.000   Sunny
2   1/5/2017        28.00      8.000    Snow
3   1/6/2017        33.22      7.000     NaN
4   1/7/2017        32.00      7.275    Rain
5   1/8/2017        33.22      7.550   Sunny
6   1/9/2017        33.22      7.825     NaN
7  1/10/2017        34.10      8.100  Cloudy
8  1/11/2017        40.00     12.000   Sunny

In [13]:
new_df = df.dropna()
new_df

         day  temperature  windspeed   event
0   1/1/2017        32.00        6.0    Rain
1   1/4/2017        33.22        9.0   Sunny
7  1/10/2017        34.10        8.1  Cloudy
8  1/11/2017        40.00       12.0   Sunny

In [14]:
new_df = df.dropna(how='all')
new_df

         day  temperature  windspeed   event
0   1/1/2017        32.00        6.0    Rain
1   1/4/2017        33.22        9.0   Sunny
2   1/5/2017        28.00        NaN    Snow
3   1/6/2017        33.22        7.0     NaN
4   1/7/2017        32.00        NaN    Rain
5   1/8/2017        33.22        NaN   Sunny
6   1/9/2017        33.22        NaN     NaN
7  1/10/2017        34.10        8.1  Cloudy
8  1/11/2017        40.00       12.0   Sunny

In [15]:
new_df = df.dropna(thresh=2)
new_df

         day  temperature  windspeed   event
0   1/1/2017        32.00        6.0    Rain
1   1/4/2017        33.22        9.0   Sunny
2   1/5/2017        28.00        NaN    Snow
3   1/6/2017        33.22        7.0     NaN
4   1/7/2017        32.00        NaN    Rain
5   1/8/2017        33.22        NaN   Sunny
6   1/9/2017        33.22        NaN     NaN
7  1/10/2017        34.10        8.1  Cloudy
8  1/11/2017        40.00       12.0   Sunny